.my-plan {
    margin: 20px;
  }
  
  .my-plan-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .my-plan-table {
    width: 95%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .my-plan-header {
    background-color: #007bff;
    color: #fff;
    text-align: left;
    padding: 10px;
  }
  
  .my-plan-cell {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .my-plan-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
  }

  .ToApprove {
    background-color: #4CAF50; /* Зеленый цвет для кнопки "Согласовать" */
    margin-right: 5px;
  }

  .Deny {
    background-color: #FF5733; /* Красный цвет для кнопки "Отказать" */
  }

  .ToApprove, .Deny {
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .ToApprove:hover {
    background-color: #3f9243; /* Темнее зеленый цвет при наведении на "Согласовать" */
  }

  .Deny:hover {
    background-color: #c43a1b;
  }
  
  @media (max-width: 768px) {
    .my-plan-table {
      font-size: 14px;
    }
  
    .my-plan-title {
      font-size: 20px;
    }
  
    .my-plan-cell,
    .my-plan-header {
      padding: 5px;
    }
  
    .my-plan-button {
      padding: 5px 10px;
      margin-top: 10px;
    }
  }

  .checkmark {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 10px; /* Adjust the margin as needed */
  }
  
  .checkmark-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #21b04b;
    border-radius: 50%;
    animation: fill 0.4s both;
  }
  
  .checkmark-stem {
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: #21b04b;
    left: 15px;
    top: 9px;
    animation: draw 0.4s both;
  }
  
  .checkmark-kick {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #21b04b;
    left: 10px;
    top: 16px;
    animation: fill 0.3s 0.2s both, scale 0.3s 0.3s both;
  }
  
  @keyframes draw {
    0% {
      height: 0;
    }
  }
  
  @keyframes fill {
    0% {
      transform: scale(0);
    }
  }
  
  @keyframes scale {
    0%, 100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
