/* UserProfile.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #007bff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .header img {
    width: 300px;
    height: 150px;
    margin-right: 10px;
  }
  
  .header button {
    background-color: #ffffff;
    color: #070707;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  
  .header button:hover {
    background-color: #afadad;
    text-decoration: underline;
  }

.user-profile {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px; /* Если нужен отступ, можете оставить */
}

.user-title {
    font-size: 45px;
    margin-bottom: 15px;
    text-align: center; /* Добавляем отступ снизу */
}



.user-action {
    display: block;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    width: 250px;
    height: 70px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.user-action:hover {
    background-color: #0056b3;
}

.graphic .dropdown button:hover {
    background-color: #0056b3;
}

.user-logout:hover {
    background-color: #0056b3;
}

.user-profile {
    display: flex;
    justify-content: flex-start;
    background-color: #f5f5f5;
    padding: 20px; /* If needed */
}

.user-info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
}

.user-avatar {
    margin-right: 20px;
}

.user-avatar img {
    width: 250px;
    height: 250px;
    border-radius: 30%;
}

.user-details {
    text-align: left;
    font-size: 20px;
}

.user-details p {
    margin: 15px 5px;
}

.user-actions {
    flex: 0.25;
    text-align: left;
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 0; /* Remove right margin to eliminate the space */
}
