/* VacationType.css */

.container-vac-type {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin: 0 auto;
    width: 760px;
    height: 450px;
    margin-top: 20px;
  }
  
  .header-vac-type h1 {
    font-size: 24px;
  }
  
  .user-info-vac-type p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .count-days-vac-type {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .date-label-vac-type {
    font-size: 18px;
    font-weight: bold;
    color: #1d1d1d;
    display: block;
    text-align: left;
    margin-top: 10px;
  }
  
  .comment-label-vac-type,
  .date-label-vac-type {
    font-size: 18px;
    font-weight: bold;
    color: #1d1d1d;
    display: block;
    text-align: left;
    margin-top: 10px;
  }
  
  .comment-input-vac-type,
  .date-picker-vac-type {
    margin-bottom: 10px;
    border: none;
    background: none;
    border-bottom: 2px solid #007bff;
    padding: 5px;
    width: 100%;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .comment-input-vac-type:focus,
  .date-picker-vac-type:focus {
    border-color: #0056b3;
    outline: none;
  }
  
  .vacation-type-select {
    margin-bottom: 10px;
    border: none;
    background: none;
    border-bottom: 2px solid #007bff;
    padding: 5px;
    width: 50%;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .vacation-type-select:focus {
    border-color: #0056b3;
    outline: none;
  }
  
  .action-buttons-vac-type button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 48%;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin: 0 1%;
    font-size: 16px;
  }
  
  .action-buttons-vac-type button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 480px) {
    .action-buttons-vac-type button {
      width: 100%;
    }
  }
  